.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.principal {
    display: flex;
    color: var(--white);
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2%;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5%;
    width: 80vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    background-color: var(--color1);
    box-shadow: var(--shadow);
}

.cardTittle {
    padding: 5% 0;
    font-size: larger;
    height: 48px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.imagem {
    height: 200px;
    object-fit: cover;
    aspect-ratio: 4/3;
}