.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.principal {
    display: flex;
    color: var(--white);
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2%;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5%;
    width: 80vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: var(--color1);
}

.cardTittle {
    padding: 5% 0;
    font-size: larger;
}

.imagem {
    height: 300px;
}


.greetings {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social {
    padding: 10px;
    margin: 0 2%;
}

.social:hover {
    cursor: pointer;
}

.resume {
    font-size: large;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 17px 70px;
    background-color: var(--color2);
}

.resume:hover {
    cursor: pointer;
}

.imgprincipal {
    margin: 0 2%;
}